@charset "UTF-8";

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; 
  }

.clearfix:after {
  clear: both;
  }

.clearfix {
  zoom: 1;
  }

/* [ref]  http://www.tjkdesign.com/lab/clearfix/new-clearfix.html */
